default_language_version:
  python: python3.10
ci:
  skip: [mypy, docs, stubtest]
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: dmypy run -- python/
        language: system
        require_serial: true
        pass_filenames: false
  - repo: local
    hooks:
      - id: stubtest
        name: stubtest
        entry: python -m mypy.stubtest egg_smol.bindings  --allowlist stubtest_allow
        language: system
        pass_filenames: false
        require_serial: true
  - repo: local
    hooks:
      - id: docs
        name: docs
        entry: sphinx-build -nW -b html docs docs/_build/html
        language: system
        pass_filenames: false
        require_serial: true
