[package]
name = "egglog-python"
version = "7.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "egglog_python"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21", features = ["extension-module"] }

# https://github.com/egraphs-good/egglog/compare/ceed816e9369570ffed9feeba157b19471dda70d...main
egglog = { git = "https://github.com/egraphs-good/egglog", rev = "fb4a9f114f9bb93154d6eff0dbab079b5cb4ebb6" }
# egglog = { git = "https://github.com/oflatt/egg-smol", branch = "oflatt-fast-terms" }
# egglog = { git = "https://github.com/saulshanabrook/egg-smol", rev = "38b3014b34399cc78887ede09c845b2a5d6c7d19" }
egraph-serialize = { git = "https://github.com/egraphs-good/egraph-serialize", rev = "5838c036623e91540831745b1574539e01c8cb23" }
serde_json = "*"
pyo3-log = "0.10.0"
log = "0.4.20"
lalrpop-util = { version = "0.20.0", features = ["lexer"] }
ordered-float = "*"
uuid = { version = "1.7.0", features = ["v4"] }
num-rational = "*"

[package.metadata.maturin]
name = "egglog.bindings"

# Use unreleased version of egraph-serialize in egglog as well
[patch.crates-io]
egraph-serialize = { git = "https://github.com/egraphs-good/egraph-serialize", rev = "5838c036623e91540831745b1574539e01c8cb23" }
# egraph-serialize = { path = "../egraph-serialize" }
