[package]
name = "egglog_python"
version = "8.0.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "egglog"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.5", features = ["extension-module"] }

# https://github.com/egraphs-good/egglog/compare/ceed816e9369570ffed9feeba157b19471dda70d...main
egglog = { git = "https://github.com/egraphs-good/egglog", rev = "b0db06832264c9b22694bd3de2bdacd55bbe9e32" }
# egglog = { path = "../egg-smol" }
# egglog = { git = "https://github.com/oflatt/egg-smol", branch = "oflatt-fast-terms" }
# egglog = { git = "https://github.com/saulshanabrook/egg-smol", rev = "a555b2f5e82c684442775cc1a5da94b71930113c" }
egraph-serialize = { version = "0.2.0", features = ["serde", "graphviz"] }
# egraph-serialize = { path = "../egraph-serialize", features = [
#     "serde",
#     "graphviz",
# ] }
serde_json = "1.0.132"
pyo3-log = "0.11.0"
log = "0.4.22"
lalrpop-util = { version = "0.22", features = ["lexer"] }
ordered-float = "3.7"
uuid = { version = "1.11.0", features = ["v4"] }

# Use unreleased version of egraph-serialize in egglog as well
# [patch.crates-io]
# egraph-serialize = { git = "https://github.com/egraphs-good/egraph-serialize", rev = "5838c036623e91540831745b1574539e01c8cb23" }
# egraph-serialize = { path = "../egraph-serialize" }

# enable debug symbols for easier profiling
# [profile.release]
# debug = 1
