[package]
name = "egglog_python"
version = "11.4.0"
edition = "2024"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "egglog"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.27", features = ["extension-module", "num-bigint", "num-rational"] }
num-bigint = "*"
num-rational = "*"
egglog = { git = "https://github.com/egraphs-good/egglog.git", branch = "main", default-features = false }
egglog-bridge = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
egglog-core-relations = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
egglog-experimental = { git = "https://github.com/egraphs-good/egglog-experimental", branch = "main", default-features = false }
egglog-ast = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
egglog-reports = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
egraph-serialize = { version = "0.3", features = ["serde", "graphviz"] }
serde_json = "1"
pyo3-log =  "*"
log = "0.4"
lalrpop-util = { version = "0.22", features = ["lexer"] }
ordered-float = "5"
uuid = { version = "1.18", features = ["v4"] }
rayon = "1.11"
base64 = "0.22.1"

# Use patched version of egglog in experimental
[patch.'https://github.com/egraphs-good/egglog']
# egglog = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
# egglog-bridge = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
# egglog-core-relations = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }
# egglog-ast = { git = "https://github.com/egraphs-good/egglog.git", branch = "main" }

# enable debug symbols for easier profiling
[profile.release]
debug = true

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(Py_3_11)'] }
