[package]
name = "egglog-python"
version = "4.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "egglog_python"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.18.1", features = ["extension-module"] }
egglog = { git = "https://github.com/egraphs-good/egglog", rev = "ceed816e9369570ffed9feeba157b19471dda70d" }
# egglog = { git = "https://github.com/oflatt/egg-smol", branch = "oflatt-fast-terms" }
# egglog = { git = "https://github.com/saulshanabrook/egg-smol", rev = "38b3014b34399cc78887ede09c845b2a5d6c7d19" }
egraph-serialize = { git = "https://github.com/saulshanabrook/egraph-serialize", rev = "95a5b802c662a1036b5549b0c5c7b4586dee211c" }
serde_json = "*"
pyo3-log = "0.8.1"
log = "0.4.17"
lalrpop-util = { version = "0.19.8", features = ["lexer"] }
ordered-float = "*"
uuid = { version = "1.5.0", features = ["v4"] }
num-rational = "*"
[package.metadata.maturin]
name = "egglog.bindings"

[patch.'https://github.com/egraphs-good/egraph-serialize']

egraph-serialize = { git = "https://github.com/saulshanabrook/egraph-serialize", rev = "95a5b802c662a1036b5549b0c5c7b4586dee211c" }
# egraph-serialize = { path = "../egraph-serialize" }
