[package]
name = "egg-smol-python"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "egg_smol_python"
crate-type = ["cdylib"]

[dependencies]
# Use unreleased version to depend on signature improvements https://github.com/PyO3/pyo3/pull/2702
pyo3 = { version = "0.18.1", features = ["extension-module"] }
egg-smol = { git = "https://github.com/mwillsey/egg-smol", rev = "08a6e8fecdb77e6ba72a1b1d9ff4aff33229912c" }
pyo3-log = "0.8.1"
log = "0.4.17"
lalrpop-util = { version = "0.19.8", features = ["lexer"] }

[package.metadata.maturin]
name = "egg_smol.bindings"
